html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: white;
}

.App {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  background-color: #8393b3;
  padding: 1rem;
}

.App-title {
  font-size: 3rem;
}

.form {
  margin-top: 1em;
}

.form__input {
  background: transparent;
  color:white;
  border: 0;
  border-bottom: solid 2px white;
  margin-right: 10px;
  letter-spacing: 2px;
  width: 20%;
  padding: 1rem;
}

.form__button {
  color: white;
  border: solid 2px white;
  background: transparent;
  padding: 0.4rem 0.6rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}

.loading {
  margin: 0 auto;
}


.table {
  padding-right: 2rem;
  margin: 2rem 0;
  background-color: white;
}

.notFound {
  margin-top: 20px;
}

.App-link {
  color: #61dafb;
}
